.navbar .btn-outline-light:hover {
    color: var(--bs-dark)
}

.header {
    background: url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
}

@media(max-width: 1000px) {
    .hero .image-container {
        display: flex;
        justify-content: center;
    }
}